<a href="https://colab.research.google.com/github/kurt980/OA_practice/blob/main/Iris_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_svmlight_file
from sklearn.datasets import load_iris
from sklearn import metrics
from sklearn.metrics import mean_squared_error
iris = load_iris()

In [ ]:
# fetch data
iris_df = pd.concat([pd.DataFrame(iris.data, columns= iris.feature_names),pd.DataFrame(columns = ['species'], data = iris.target)], axis = 1)

In [ ]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

Linear Regression

In [ ]:
# reorganize and get x and y
predictors, labels = iris_df.drop('sepal length (cm)', axis = 1), iris_df['sepal length (cm)']

In [ ]:
# train/test split
predictors_train, predictors_test, labels_train, labels_test = train_test_split(predictors, labels, test_size = 0.4)

In [ ]:
linreg = LinearRegression()
linreg.fit(predictors_train, labels_train)

LinearRegression()

In [ ]:
# Making Predictions
pred = linreg.predict(predictors_test)

# Evaluating Model's Performance
print('Mean Absolute Error:', metrics.mean_absolute_error(labels_test, pred))
print('Mean Squared Error:', metrics.mean_squared_error(labels_test, pred))
print('Mean Root Squared Error:', np.sqrt(metrics.mean_squared_error(labels_test, pred)))

Mean Absolute Error: 0.24807125903427857
Mean Squared Error: 0.08819591387568483
Mean Root Squared Error: 0.2969779686705477

Logistic Regression

In [ ]:
# train/test split
train, test = train_test_split(iris_df, test_size = 0.4)

In [ ]:
# X and Y split
train_X = train[iris_df.columns[0:4]]
train_Y = train['species']
test_X = test[iris_df.columns[0:4]]
test_Y = test['species']

In [ ]:
logreg = LogisticRegression(solver='lbfgs', max_iter=100)

In [ ]:
logreg.fit(train_X, train_Y)
prediction=logreg.predict(test_X)
print('The accuracy of the Logistic Regression is',metrics.accuracy_score(prediction,test_Y))

The accuracy of the Logistic Regression is 0.9666666666666667

In [ ]:
# single point prediction
testing = pd.DataFrame(np.array([6.9,3.1,5.4,2.1]).reshape(-1,4), columns=iris_df.columns[0:4])
logreg.predict(testing)

array([2])

Use SVM