<a href="https://colab.research.google.com/github/kurt980/OA_practice/blob/main/McKinsey_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sklearn

In [ ]:
# initialize list of lists
data = [['tom', 10], ['tom',20], ['nick', 12], ['juli',5], ['juli', 14]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])

In [ ]:
df

   Name   Age
0   tom  10.0
1   tom  20.0
2  nick  12.0
3  juli   5.0
4  juli  14.0

Fill NAs
https://www.geeksforgeeks.org/replace-nan-values-with-zeros-in-pandas-dataframe/

In [ ]:
#For one column using pandas:
df['DataFrame Column'] = df['DataFrame Column'].fillna(0)
#For one column using numpy:
df['DataFrame Column'] = df['DataFrame Column'].replace(np.nan, 0)
#For the whole DataFrame using pandas:
df.fillna(0)
#For the whole DataFrame using numpy:
df.replace(np.nan, 0)

Convert to float
https://sparkbyexamples.com/pandas/pandas-convert-string-to-float-type-dataframe/

In [ ]:
# convert "Fee" from string to float
df['Age'] = df['Age'].astype(float)

Find name for highest average

In [ ]:
df = df.groupby(['Name'])[['Age']].mean().reset_index()

In [ ]:
df = df.sort_values(by = ['Age'], ascending = False).reset_index()

In [ ]:
df['Name'][0]

'tom'